﻿@model LoginViewModel

@if (Model.EnableLocalLogin)
{
    <div class="signin-form">
        <form asp-route="Login" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <h2>Sign in</h2>
            <p class="hint-text">Sign in with your social media account</p>
            <div class="social-btn text-center">
                <a href="#" class="btn btn-primary btn-lg" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a asp-controller="External" asp-action="Challenge" asp-route-provider="Google" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
            </div>
            <div class="or-seperator"><b>or</b></div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Username" asp-for="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" asp-for="Password" required="required">
            </div>
            <div class="form-group justify-content-center">
                @if (Model.AllowRememberLogin)
                {
                    <div class="form-check">
                        <input type="checkbox" asp-for="RememberLogin" class="form-check-input">
                        <label asp-for="RememberLogin" class="form-check-label">Remember My Login</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" name="button" value="login">Sign in</button>
            </div>
            <div class="text-center small"><a href="#">Forgot Your password?</a></div>
            <partial name="_ValidationSummary" />
        </form>
        <div class="text-center small">Don't have an account? <a asp-controller="Account" asp-action="SignUp" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a></div>
    </div>
}