﻿@model SignUpViewModel

<div class="signup-form">
    <form asp-route="SignUp" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <h2>Create an Account</h2>
        <p class="hint-text">Sign up with your social media account or email address</p>
        <div class="social-btn text-center">
            <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i></a>
            <a asp-controller="External" asp-action="Challenge" asp-route-provider="Google" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
        </div>
        <div class="or-seperator"><b>or</b></div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="Username" placeholder="Username" asp-for="Username" required="required">
        </div>
        <div class="form-group">
            <input type="email" class="form-control input-lg" name="Email" placeholder="Email Address" asp-for="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" name="Password" placeholder="Password" asp-for="Password" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-lg" name="ConfirmPassword" placeholder="Confirm Password" asp-for="ConfirmPassword" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</button>
        </div>
    </form>
    <div class="text-center">Already have an account? <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Login here</a></div>
</div>
