<nz-card nzTitle="Edit Survey" class="card-primary">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">

    <nz-form-item>
      <nz-form-label nzRequired nzFor="title" [nzSm]="6" [nzXs]="24">Title</nz-form-label>
      <nz-form-control nzErrorTip="Title is required!" [nzSm]="14" [nzXs]="24">
        <input nz-input id="title" nz-input formControlName="title" [(ngModel)]="survey.title">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired nzFor="description" [nzSm]="6" [nzXs]="24">Description</nz-form-label>
      <nz-form-control nzErrorTip="Description is required!" [nzSm]="14" [nzXs]="24">
        <textarea nz-input id="description" rows="4" formControlName="description" [(ngModel)]="survey.description"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button type="submit" nz-button nzType="primary">Update</button>
      </nz-form-control>
    </nz-form-item>
    
  </form>  
</nz-card>

<br />

<button class="pad-left-0" (click)="goToList()" nz-button nzType="link">
  <i nz-icon nzType="left"></i> Back to Survey List
</button>

<ngx-spinner></ngx-spinner>