<nz-card nzTitle="Survey List" class="card-success">
  <button (click)="createSurvey()" nz-button>
    <i nz-icon nzType="plus"></i> Create New
  </button>

  <nz-table 
    #ajaxTable 
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzData]="pagination.results"
    [nzTotal]="pagination.totalRows"
    [(nzPageIndex)]="pagination.pageNumber"
    [(nzPageSize)]="pagination.pageSize"
    (nzPageIndexChange)="getList()"
    (nzPageSizeChange)="getList(true)"
    nzSize="middle" 
    nzBordered="true">

    <thead (nzSortChange)="sortBy($event)" nzSingleSort>
      <tr>
        <th
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"
        ></th>
        <th nzShowSort nzSortKey="title">Title</th>
        <th nzShowSort nzSortKey="description">Description</th>
        <th nzWidth="300px"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let survey of ajaxTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[survey.id]" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ survey.title }}</td>
        <td>{{ survey.description }}</td>
        <td nzAlign="center">
          <button (click)="surveyDetails(survey.id)" nz-button nzSize="small" nzType="link">
            <i nz-icon nzType="info-circle"></i> Details
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button (click)="updateSurvey(survey.id)" nz-button nzSize="small" nzType="link">
            <i nz-icon nzType="edit"></i> Edit
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button (click)="showDeleteConfirmDialog(survey.id, survey.title)" nz-button nzSize="small" nzType="link">
            <i nz-icon nzType="close"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>

  </nz-table>
</nz-card>

<ngx-spinner></ngx-spinner>