<nz-card nzTitle="Survey Details" class="card-primary">
  <div nz-row>
    <label for="title" nz-col nzSpan="5">Title</label>
    <div nz-col nzSpan="19">
      <input id="title" nz-input placeholder="title" [(ngModel)]="survey.title" [disabled]="true" />
    </div>
  </div>
  <div nz-row>
    <label for="description" nz-col nzSpan="5">Description</label>
    <div nz-col nzSpan="19">
      <textarea id="description" rows="4" nz-input [(ngModel)]="survey.description" [disabled]="true"></textarea>
    </div>
  </div>

  <nz-divider nzType="horizontal" nzText="Additional Info" nzOrientation="left"></nz-divider>

  <div nz-row>
      <div nz-col nzSpan="11">
          <div nz-row>
              <label for="dateCreated" nz-col nzSpan="11">Date Created</label>
              <div nz-col nzSpan="13">
                  <span>{{ survey.dateCreated | date: 'MMM-dd-yyyy h:mm:ss a' }}</span>
              </div>
          </div>
          <div nz-row>
              <label for="dateCreatedBy" nz-col nzSpan="11">Created By</label>
              <div nz-col nzSpan="13">
                  <span>{{ survey.dateCreatedBy }}</span>
              </div>
          </div>
      </div>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="11">
          <div nz-row>
              <label for="dateUpdated" nz-col nzSpan="11">Date Updated</label>
              <div nz-col nzSpan="13">
                  <span>{{ survey.dateUpdated | date: 'MMM-dd-yyyy h:mm:ss a' }}</span>
              </div>
          </div>
          <div nz-row>
              <label for="dateUpdatedBy" nz-col nzSpan="11">Updated By</label>
              <div nz-col nzSpan="13">
                  <span>{{ survey.dateUpdatedBy }}</span>
              </div>
          </div>
      </div>
  </div>
</nz-card>

<app-question [surveyId]="id"></app-question>

<br />

<button class="pad-left-0" (click)="goToList()" nz-button nzType="link">
  <i nz-icon nzType="left"></i> Back to Survey List
</button>

<ngx-spinner></ngx-spinner>

<br />
<br />