<div class="form-group">
    <select class="form-control" [id]="id" [name]="name" *ngIf="surveys" [(ngModel)]="inputModel" (ngModelChange)="inputModelChange.emit(inputModel)">
        <option *ngFor="let survey of surveys | async" [value]="survey.id">
            {{ survey.title }}
        </option>
    </select>
</div>
