<nz-card nzTitle="Create Question" class="card-primary">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
   
    <nz-form-item nz-row>
      <nz-form-label nz-col nzSpan="6" nzRequired nzFor="surveyId">Survey</nz-form-label>
      <nz-form-control nz-col nzSpan="14" nzErrorTip="Survey is a required!">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a survey" formControlName="surveyId" [(ngModel)]="question.surveyId">
          <nz-option *ngFor="let survey of surveys" [nzLabel]="survey.title" [nzValue]="survey.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label nz-col nzSpan="6" nzRequired nzFor="displayText">Question</nz-form-label>
      <nz-form-control nz-col nzSpan="14" nzErrorTip="Question is a required!" >
        <input nz-input id="displayText" nz-input formControlName="displayText" [(ngModel)]="question.displayText">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label nz-col nzSpan="6" nzRequired nzFor="description">Description</nz-form-label>
      <nz-form-control nz-col nzSpan="14" nzErrorTip="Description is required!">
        <textarea nz-input id="description" rows="4" formControlName="description" [(ngModel)]="question.description"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-divider nzType="horizontal" nzText="Validation Info" nzOrientation="left"></nz-divider>

    <nz-form-item nz-row>
      <nz-form-label nz-col nzSpan="6" nzFor="isRequired">Required?</nz-form-label>
      <nz-form-control nz-col nzSpan="14">
        <nz-radio-group [(ngModel)]="question.isRequired" nzName="isRequired" formControlName="isRequired">
          <label nz-radio [nzValue]="true">Yes</label>
          <label nz-radio [nzValue]="false">No</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label nz-col nzSpan="6" nzFor="requiredMessage">Required Message</nz-form-label>
      <nz-form-control nz-col nzSpan="14">
        <textarea nz-input id="requiredMessage" rows="4" formControlName="requiredMessage" [(ngModel)]="question.requiredMessage"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-divider nzType="horizontal" nzText="Range Slider Info" nzOrientation="left"></nz-divider>

    <div nz-row>
      <div nz-col nzSpan="11">
          <nz-form-item nz-row>
              <nz-form-label nz-col nzSpan="13" nzFor="minIntValue">Minimum Integer Value</nz-form-label>
              <nz-form-control nz-col nzSpan="8">
                  <input id="minIntValue" nz-input placeholder="Enter an integer  number" formControlName="minIntValue" [(ngModel)]="question.minIntValue"/>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-row>
            <nz-form-label nz-col nzSpan="13" nzFor="maxIntValue">Maximum Integer Value</nz-form-label>
            <nz-form-control nz-col nzSpan="8">
                <input id="maxIntValue" nz-input placeholder="Enter an integer number" formControlName="maxIntValue" [(ngModel)]="question.maxIntValue"/>
            </nz-form-control>
          </nz-form-item>
      </div>
      <div nz-col nzSpan="10">
        <nz-form-item nz-row>
          <nz-form-label nz-col nzSpan="13" nzFor="minDecimalValue">Minimum Decimal Value</nz-form-label>
          <nz-form-control nz-col nzSpan="8">
              <input id="minDecimalValue" nz-input placeholder="Enter a decimal number" formControlName="minDecimalValue" [(ngModel)]="question.minDecimalValue"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
          <nz-form-label nz-col nzSpan="13" nzFor="maxDecimalValue">Maximum Decimal Value</nz-form-label>
          <nz-form-control nz-col nzSpan="8">
              <input id="maxDecimalValue" nz-input placeholder="Enter a decimal number" formControlName="maxDecimalValue" [(ngModel)]="question.maxDecimalValue"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-divider nzType="horizontal"></nz-divider>

    <nz-form-item nz-row>
      <nz-form-control [nzSpan]="24" [nzOffset]="6">
        <button type="submit" nz-button nzType="primary" nzSize="large">Create</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>

<br />

<button class="pad-left-0" (click)="goToList()" nz-button nzType="link">
  <i nz-icon nzType="left"></i> Back to Question List
</button>

<ngx-spinner></ngx-spinner>

<br />
<br />