<p *ngIf="!questions"><em>Loading...</em></p>

<nz-card nzTitle="Question List" class="card-success">
  <button (click)="createQuestion()" nz-button>
    <i nz-icon nzType="plus"></i> Create New
  </button>

  <nz-table 
    #ajaxTable 
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzData]="pagination.results"
    [nzTotal]="pagination.totalRows"
    [(nzPageIndex)]="pagination.pageNumber"
    [(nzPageSize)]="pagination.pageSize"
    (nzPageIndexChange)="getList()"
    (nzPageSizeChange)="getList(true)"
    nzSize="middle" 
    nzBordered="true">

    <thead (nzSortChange)="sortBy($event)" nzSingleSort>
      <tr>
        <th
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)">
        </th>
        <th nzShowSort nzSortKey="surveyTitle" *ngIf="surveyId === undefined">Survey</th>
        <th nzShowSort nzSortKey="displayText">Question</th>
        <th nzShowSort nzSortKey="description">Description</th>
        <th nzShowSort nzSortKey="isRequired">Required?</th>
        <th nzWidth="300px"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let question of ajaxTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[question.id]" (nzCheckedChange)="refreshStatus()"></td>
        <td *ngIf="surveyId === undefined">{{ question.surveyTitle }}</td>
        <td>{{ question.displayText }}</td>
        <td>{{ question.description }}</td>
        <td>{{ question.isRequired == true ? 'Yes' : 'No' }}</td>
        <td nzAlign="center">
          <button (click)="questionDetails(question.id)" nz-button nzSize="small" nzType="link">
            <i nz-icon nzType="info-circle"></i> Details
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button (click)="updateQuestion(question.id)" nz-button nzSize="small" nzType="link">
            <i nz-icon nzType="edit"></i> Edit
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button (click)="showDeleteConfirmDialog(question.id, question.displayText)" nz-button nzSize="small" nzType="link">
            <i nz-icon nzType="close"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
    
  </nz-table>
</nz-card>

<ngx-spinner></ngx-spinner>