<nz-card nzTitle="Question Details" class="card-primary">
    <div nz-row>
        <label for="surveyTitle" nz-col nzSpan="5">Survey</label>
        <div nz-col nzSpan="19">
            <input id="surveyTitle" nz-input placeholder="Survey" [(ngModel)]="question.surveyTitle" [disabled]="true" />
        </div>
    </div>
    <div nz-row>
        <label for="displayText" nz-col nzSpan="5">Question</label>
        <div nz-col nzSpan="19">
            <textarea id="displayText" rows="4" nz-input [(ngModel)]="question.displayText" [disabled]="true"></textarea>
        </div>
        </div>
    <div nz-row>
        <label for="description" nz-col nzSpan="5">Description</label>
        <div nz-col nzSpan="19">
            <textarea id="description" rows="4" nz-input [(ngModel)]="question.description" [disabled]="true"></textarea>
        </div>
    </div>

    <br/>
    <nz-divider nzType="horizontal" nzText="Validation Info" nzOrientation="left"></nz-divider>

    <div nz-row>
        <label nz-col nzSpan="5">Required?</label>
        <div nz-col nzSpan="19">
            <nz-radio-group [(ngModel)]="question.isRequired" nzName="isRequired">
                <label nz-radio [nzValue]="true">Yes</label>
                <label nz-radio [nzValue]="false">No</label>
            </nz-radio-group>
        </div>
    </div>
    <div nz-row>
        <label for="requiredMessage" nz-col nzSpan="5">Required Message</label>
        <div nz-col nzSpan="19">
            <textarea id="requiredMessage" rows="4" nz-input [(ngModel)]="question.requiredMessage" [disabled]="true"></textarea>
        </div>
    </div>

    <br/>
    <nz-divider nzType="horizontal" nzText="Range Slider Info" nzOrientation="left"></nz-divider>

    <div nz-row>
        <div nz-col nzSpan="11">
            <div nz-row>
                <label for="minIntValue" nz-col nzSpan="11">Minimum Integer Value</label>
                <div nz-col nzSpan="13">
                    <input id="minIntValue" nz-input placeholder="Enter a number" [(ngModel)]="question.minIntValue" [disabled]="true" />
                </div>
            </div>
            <div nz-row>
                <label for="maxIntValue" nz-col nzSpan="11">Maximum Integer Value</label>
                <div nz-col nzSpan="13">
                    <input id="maxIntValue" nz-input placeholder="Enter a number" [(ngModel)]="question.maxIntValue" [disabled]="true" />
                </div>
            </div>
        </div>
        <div nz-col nzSpan="2"></div>
        <div nz-col nzSpan="11">
            <div nz-row>
                <label for="minDecimalValue" nz-col nzSpan="11">Minimum Decimal Value</label>
                <div nz-col nzSpan="13">
                    <input id="minDecimalValue" nz-input placeholder="Enter a decimal number" [(ngModel)]="question.minDecimalValue" [disabled]="true" />
                </div>
            </div>
            <div nz-row>
                <label for="maxDecimalValue" nz-col nzSpan="11">Maximum Decimal Value</label>
                <div nz-col nzSpan="13">
                    <input id="maxDecimalValue" nz-input placeholder="Enter a decimal number" [(ngModel)]="question.maxDecimalValue" [disabled]="true" />
                </div>
            </div>
        </div>
    </div>

    <br />
    <nz-divider nzType="horizontal" nzText="Additional Info" nzOrientation="left"></nz-divider>

    <div nz-row>
        <div nz-col nzSpan="11">
            <div nz-row>
                <label for="dateCreated" nz-col nzSpan="11">Date Created</label>
                <div nz-col nzSpan="13">
                    <span>{{ question.dateCreated | date: 'MMM-dd-yyyy h:mm:ss a' }}</span>
                </div>
            </div>
            <div nz-row>
                <label for="dateCreatedBy" nz-col nzSpan="11">Created By</label>
                <div nz-col nzSpan="13">
                    <span>{{ question.dateCreatedBy }}</span>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="2"></div>
        <div nz-col nzSpan="11">
            <div nz-row>
                <label for="dateUpdated" nz-col nzSpan="11">Date Updated</label>
                <div nz-col nzSpan="13">
                    <span>{{ question.dateUpdated | date: 'MMM-dd-yyyy h:mm:ss a' }}</span>
                </div>
            </div>
            <div nz-row>
                <label for="dateUpdatedBy" nz-col nzSpan="11">Updated By</label>
                <div nz-col nzSpan="13">
                    <span>{{ question.dateUpdatedBy }}</span>
                </div>
            </div>
        </div>
    </div>
</nz-card>
  
<br />

<button class="pad-left-0" (click)="goToList()" nz-button nzType="link">
    <i nz-icon nzType="left"></i> Back to Question List
</button>

<ngx-spinner></ngx-spinner>

<br />
<br />
