﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    color: #434343;
    background: #dfe7e9;
    font-family: 'Varela Round', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.validation-summary-errors > ul { margin-bottom: 0;}

/* default styles
-------------------------------------------------- */
.top-spacing {
    margin-top: 100px;
}

.card-header h5 {
    margin-bottom: 0px;
}

/* login page styles
-------------------------------------------------- */
.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}

    .form-control:focus {
        border-color: #5cb85c;
    }

.form-control, .btn {
    border-radius: 50px;
    outline: none !important;
}
.signin-form {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px 0;
}

    .signin-form form {
        border-radius: 5px;
        margin-bottom: 20px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 40px;
    }

    .signin-form a {
        color: #5cb85c;
    }

    .signin-form h2 {
        text-align: center;
        font-size: 34px;
        margin: 10px 0 15px;
    }

    .signin-form .hint-text {
        color: #999;
        text-align: center;
        margin-bottom: 20px;
    }

    .signin-form .form-group {
        margin-bottom: 20px;
    }

    .signin-form .btn {
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        text-align: center;
    }

    .signin-form .small {
        font-size: 13px;
    }

.signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
}

    .signup-btn:hover {
        background: #5cb85c;
        opacity: 0.8;
    }

.signup-form {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px 0;
}

    .signup-form form {
        border-radius: 5px;
        margin-bottom: 20px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 40px;
    }

    .signup-form a {
        color: #5cb85c;
    }

    .signup-form h2 {
        text-align: center;
        font-size: 34px;
        margin: 10px 0 15px;
    }

    .signup-form .hint-text {
        color: #999;
        text-align: center;
        margin-bottom: 20px;
    }

    .signup-form .form-group {
        margin-bottom: 20px;
    }

    .signup-form .btn {
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        text-align: center;
    }

.signup-btn {
    text-align: center;
    border-color: #5cb85c;
    transition: all 0.4s;
}

    .signup-btn:hover {
        background: #5cb85c;
        opacity: 0.8;
    }

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

    .or-seperator b {
        padding: 0 10px;
        width: 40px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        background: #fff;
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        position: relative;
        top: -22px;
        z-index: 1;
    }

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

    .or-seperator b {
        padding: 0 10px;
        width: 40px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        background: #fff;
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        position: relative;
        top: -22px;
        z-index: 1;
    }

.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 30px;
    font-size: 15px;
    width: 55px;
    height: 55px;
    line-height: 38px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    border: none;
    transition: all 0.4s;
}

    .social-btn .btn:first-child {
        margin-left: 0;
    }

    .social-btn .btn:hover {
        opacity: 0.8;
    }

.social-btn .btn-primary {
    background: #507cc0;
}

.social-btn .btn-info {
    background: #64ccf1;
}

.social-btn .btn-danger {
    background: #df4930;
}

.social-btn .btn i {
    font-size: 20px;
    margin-top: 10px;
}